@model EJ2CoreEditors.Controllers.Calendar.CalendarModelBinding
<h3>Model bind from code behind Sample: </h3>
<h5>This sample demonstrates the model bind from code behind using ViewBag and ViewData of Calendar component</h5>
<br />
<div class="align">
    <div>
    <h5>Model binding using ViewBag</h5>
    <ejs-calendar id="calendar1" value="ViewBag.value"></ejs-calendar>
     </div>
    <div>
        <h5>Model binding using ViewData</h5>
        <ejs-calendar id="calendar2" value=@ViewData["value"]></ejs-calendar>
    </div>
</div>
<style>
    .align {
        margin: 0 auto;
        width: 300px;
    }
</style>