<h3>TimeZone sample: </h3>
<h5> This sample demonstrates the time zone properties of Calendar component.</h5>
<br />
<div class="align">
    <h5>Calendar without time zone</h5>
    <ejs-calendar id="calendar1" value="ViewBag.value1"></ejs-calendar>
</div>
<div class="align" style="padding-top:20px;">
    <h5>Calendar with time zone</h5>
    <ejs-calendar id="calendar2" value="ViewBag.value2"></ejs-calendar>
</div>
<style>
    .align {
        margin: 0 auto;
        width: 300px;
    }
</style>
