<h3>Value, min and max properties: </h3>
<h5> This sample demonstrates the value, min and max properties of DateRangePicker component.</h5>
<br />
<div class="align">
    <ejs-daterangepicker id="daterangepicker" width="250px" placeholder="Choose a Date Range" min="ViewBag.minDate" max="ViewBag.maxDate" ></ejs-daterangepicker>
</div>
<style>
    .align {
        margin: 0 auto;
        width: 300px;
    }
</style>