<h3>TimeZone sample: </h3>
<h5> This sample demonstrates the time zone properties of DateRangePicker component.</h5>
<br />
<div class="center-align">
<div class="align">
    <h5>DateRangePicker without time zone</h5>
    <ejs-daterangepicker id="daterangepicker" width="250px" placeholder="Choose a date range" startDate="ViewBag.startDate1" endDate="ViewBag.endDate1"></ejs-daterangepicker>
</div>
<div class="align" style="padding-top:20px;">
    <h5>DateRangePicker with time zone</h5>
    <ejs-daterangepicker id="daterangepicker2" width="250px" placeholder="Choose a date range" startDate="ViewBag.startDate2" endDate="ViewBag.endDate2"></ejs-daterangepicker>
</div>
</div>
<style>
    .align {
        margin: 0 auto;
        width: 300px;
    }
    .center-align  {
        margin: 0 auto;
        width: 300px;
    }
</style>
