@model EJ2CoreEditors.Controllers.DatePicker.DatePickerAjax
<h3> Ajax Sample: </h3>
<h5>This sample demonstrates the DatePicker using the Ajax to post the values.</h5>
<br />
<div class=" control-section">
    <div id="wrapper" class="datepicker-section">
        <div id="datepicker-control">
            <form method="post">
                <ejs-datepicker id="datepicker" name="value" value="@Model.value" placeholder="Choose a Date" width="250px"></ejs-datepicker>
                <div id="errorMessage">
                    <span asp-validation-for="value"></span>
                </div>
                <div id="submitbutton">
                    <ejs-button id="submitButton" content="Submit"></ejs-button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function onChange() {
        var date = this.value;
        var url = "/DatePicker/AjaxCalling/PostValue /";
        $.ajax({
            url: "/DatePicker/AjaxCalling/PostValue",
            data: JSON.stringify({ value: date }),
            type: "POST",
            contentType: "application/json",
            dataType: "JSON",
            success: function (result) {
                console.log(result)
            },
        });
    }
</script>
<style>
    #date_label {
        display: block;
        width: 248px;
        color: rgba(0, 0, 0, 0.58);
        margin-left: 5px;
    }

    #datepicker-control {
        max-width: 300px;
        margin: 0 auto;
    }

    #wrapper {
        max-width: 246px;
        margin: 0px auto;
    }

    #submitbutton {
        margin: 10px auto;
        text-align: center;
    }
    #errorMessage {
        color: red;
        text-align: center;
    }
</style>