<h3>TimeZone sample: </h3>
<h5> This sample demonstrates the time zone properties of DatePicker component.</h5>
<br />
<div class="center-align">
<div class="align">
    <h5>DatePicker without time zone</h5>
    <ejs-datepicker id="datepicker" width="250px" placeholder="Choose a Date" value="ViewBag.value1"></ejs-datepicker>
</div>
<div class="align" style="padding-top:20px;">
    <h5>DatePicker with time zone</h5>
    <ejs-datepicker id="datepicker2" cssClass="cssClass" width="250px" placeholder="Choose a Date" value="ViewBag.value2"></ejs-datepicker>
</div>
</div>
<style>
    .align {
        margin: 0 auto;
        width: 300px;
    }
    .center-align  {
        margin: 0 auto;
        width: 300px;
    }
</style>