<h3>Min, Max and Value properties: </h3>
<h5> This sample demonstrates the min, max and value properties of DateTimePicker component.</h5>
<br />
<div class="align">
        <ejs-datetimepicker id="datetimepicker" width="250px" placeholder="Choose a date and time" min="ViewBag.minDate" max="ViewBag.maxDate"></ejs-datetimepicker>
</div>
<style>
    .align {
        margin: 0 auto;
        width: 300px;
    }
</style>