<h3>TimeZone sample: </h3>
<h5> This sample demonstrates the time zone properties of DateTimePicker component.</h5>
<br />
<div class="center-align">
<div class="align">
    <h5>DateTimePicker without time zone</h5>
    <ejs-datetimepicker id="datetimepicker" width="250px" placeholder="Choose a date and time" value="ViewBag.value1"></ejs-datetimepicker>
</div>
<div class="align" style="padding-top:20px;">
    <h5>DateTimePicker with time zone</h5>
    <ejs-datetimepicker id="datetimepicker2" width="250px" placeholder="Choose a date and time" value="ViewBag.value2"></ejs-datetimepicker>
</div>
</div>
<style>
    .align {
        margin: 0 auto;
        width: 300px;
    }
     .center-align  {
        margin: 0 auto;
        width: 300px;
    }
</style>