<div class="sf-samples" style="margin-top:22px;">
    <ul class="ulstyle">
        <li class="list" style="list-style:none">
            <code> Calendar Samples </code>
            <div class="column">
                <hr />
                <a asp-area="" asp-controller="Calendar" asp-action="MinMaxProperties">Value, Min and Max properties</a>
                <hr />
                <a asp-area="" asp-controller="Calendar" asp-action="Globalization">Globalization</a>
                <hr />
                <a asp-area="" asp-controller="Calendar" asp-action="ModelBinding">Model Binding using code behind</a>
                <hr />
                <a asp-area="" asp-controller="Calendar" asp-action="PartialView">PartialView</a>
                <hr />
                <a asp-area="" asp-controller="Calendar" asp-action="TimeZone">Timezone sample</a>
                <hr />
            </div>
        </li>
        <li class="list" style="list-style:none">
            <code> DatePicker Samples </code>
            <div class="column">
                <hr />
                <a asp-area="" asp-controller="DatePicker" asp-action="MinMaxProperties">Value, Min and Max properties</a>
                <hr />
                <a asp-area="" asp-controller="DatePicker" asp-action="Globalization">Globalization</a>
                <hr />
                <a asp-area="" asp-controller="DatePicker" asp-action="DatePickerFor">DatePickerFor</a>
                <hr />
                <a asp-area="" asp-controller="DatePicker" asp-action="ModelBinding">Model Binding using code behind</a>
                <hr />
                <a asp-area="" asp-controller="DatePicker" asp-action="PartialView">PartialView</a>
                <hr />
                <a asp-area="" asp-controller="DatePicker" asp-action="AjaxCalling">DatePicker using Ajax</a>
                <hr />
                <a asp-area="" asp-controller="DatePicker" asp-action="PostBack">Form PostBack</a>
                <hr />
                <a asp-area="" asp-controller="DatePicker" asp-action="TimeZone">Timezone sample</a>
                <hr />
            </div>
        </li>
        <li class="list" style="list-style:none">
            <code> DateTimePicker Samples </code>
            <div class="column">
                <hr />
                <a asp-area="" asp-controller="DateTimePicker" asp-action="MinMaxProperties">Value, Min and Max properties</a>
                <hr />
                <a asp-area="" asp-controller="DateTimePicker" asp-action="Globalization">Globalization</a>
                <hr />
                <a asp-area="" asp-controller="DateTimePicker" asp-action="DateTimePickerFor">DateTimePickerFor</a>
                <hr />
                <a asp-area="" asp-controller="DateTimePicker" asp-action="ModelBinding">Model Binding using code behind</a>
                <hr />
                <a asp-area="" asp-controller="DateTimePicker" asp-action="PartialView">PartialView</a>
                <hr />
                <a asp-area="" asp-controller="DateTimePicker" asp-action="AjaxCalling">DateTimePicker using Ajax</a>
                <hr />
                <a asp-area="" asp-controller="DateTimePicker" asp-action="PostBack">Form PostBack</a>
                <hr />
                <a asp-area="" asp-controller="DateTimePicker" asp-action="TimeZone">Timezone sample</a>
                <hr />
            </div>
        </li>
        <li class="list" style="list-style:none">
            <code> DateRangePicker Samples </code>
            <div class="column">
                <hr />
                <a asp-area="" asp-controller="DateRangePicker" asp-action="MinMaxProperties">Value, Min and Max properties</a>
                <hr />
                <a asp-area="" asp-controller="DateRangePicker" asp-action="Globalization">Globalization</a>
                <hr />
                <a asp-area="" asp-controller="DateRangePicker" asp-action="ModelBinding">Model Binding using code behind</a>
                <hr />
                <a asp-area="" asp-controller="DateRangePicker" asp-action="PartialView">PartialView</a>
                <hr />
                <a asp-area="" asp-controller="DateRangePicker" asp-action="AjaxCalling">DateRangePicker using Ajax</a>
                <hr />
                <a asp-area="" asp-controller="DateRangePicker" asp-action="PostBack">Form PostBack</a>
                <hr />
                <a asp-area="" asp-controller="DateRangePicker" asp-action="TimeZone">Timezone sample</a>
                <hr />
                <a asp-area="" asp-controller="DateRangePicker" asp-action="DateRangePickerFor">DateRangePickerFor</a>
                <hr />
            </div>
        </li>
        <li class="list" style="list-style:none">
            <code> TimePicker Samples </code>
            <div class="column">
                <hr />
                <a asp-area="" asp-controller="TimePicker" asp-action="MinMaxProperties">Value, Min and Max properties</a>
                <hr />
                <a asp-area="" asp-controller="TimePicker" asp-action="Globalization">Globalization</a>
                <hr />
                <a asp-area="" asp-controller="TimePicker" asp-action="TimePickerFor">TimePickerFor</a>
                <hr />
                <a asp-area="" asp-controller="TimePicker" asp-action="ModelBinding">Model Binding using code behind</a>
                <hr />
                <a asp-area="" asp-controller="TimePicker" asp-action="PartialView">PartialView</a>
                <hr />
                <a asp-area="" asp-controller="TimePicker" asp-action="AjaxCalling">TimePicker using Ajax</a>
                <hr />
                <a asp-area="" asp-controller="TimePicker" asp-action="PostBack">Form PostBack</a>
                <hr />
                <a asp-area="" asp-controller="TimePicker" asp-action="TimeZone">Timezone sample</a>
                <hr />
            </div>
        </li>
        <li class="list" style="list-style:none">
            <code> Sidebar Samples </code>
            <div class="column">
                <hr />
                <a asp-area="" asp-controller="Sidebar" asp-action="ModelBinding">Model Binding using code behind</a>
                <hr />
                <a asp-area="" asp-controller="Sidebar" asp-action="PartialView">PartialView</a>
                <hr />
            </div>
        </li>
        <li class="list" style="list-style:none">
            <code> SetCulture Sample </code>
            <div class="column">
                <hr />
                <a asp-area="" asp-controller="SetCulture" asp-action="SetCulture">SetCulture sample</a>
                <hr />
            </div>
        </li>
    </ul>
</div>