<h3>Min, Max and Value properties: </h3>
<h5> This sample demonstrates the min, max and value properties of TimePicker component.</h5>
<br />
<div class="align">
        <ejs-timepicker id="timepicker" width="200px" placeholder="Select a Time" min="ViewBag.minDate" max="ViewBag.maxDate"></ejs-timepicker>
</div>
<style>
    .align {
        margin: 0 auto;
        width: 300px;
    }
</style>