<h3>TimeZone sample: </h3>
<h5> This sample demonstrates the time zone properties of TimePicker component.</h5>
<br />
<div class="center-align">
<div class="align">
    <h5>TimePicker without time zone</h5>
    <ejs-timepicker id="timepicker" width="200px" placeholder="Select a Time" value="ViewBag.value1"></ejs-timepicker>
</div>
<div class="align" style="padding-top:20px;">
    <h5>TimePicker with time zone</h5>
    <ejs-timepicker id="timepicker2" width="200px" cssClass="cssClass" placeholder="Select a Time" value="ViewBag.value2"></ejs-timepicker>
</div>
</div>
<style>
    .align {
        margin: 0 auto;
        width: 300px;
    }
    .center-align {
        margin: 0 auto;
        width: 300px;
    }
</style>